* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #092433;
    padding: 15px;
    color: white;
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
}

.logo {
    padding-left: 50px;
}

nav {
    padding-right: 50px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    text-align: center;
    max-width: 300px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

main.about-us {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;

}

.about-us p {
    padding: 20px;
}

footer p {
    padding: 10px;
}

footer {
    text-align: center;
    background: #092433;
    color: white;
    padding: 10px;
    margin-top: 20px;
}